/* 시스템 모드 */
@media (prefers-color-scheme: light) {
    html, body {
    background: #fff;
    color: #000;
   }
   .link a {
    color: #000;
   }
   .search-btn{
       background: #ffffff;
   }
   .chat-btn {
       background: #ffffff;
   }
}
@media (prefers-color-scheme: dark) {
    html, body {
    background: #000;
    color: #fff;
}
.link a {
    color: #fff;
}
.bg_black {
    fill: #000000;
}
.bg_white {
    fill: #ffffff;
}
.search-btn{
    background: #000000;
}
.chat-btn {
    background: #000000;
}


 /* 토글 ver */

body[data-dark_mode=on] .wrap .dark_mode > .inner {
    background-color: #5F5F5F;
}

.wrap {
   position: absolute;
   right: 10%;
}
.wrap .dark_mode > .inner {
    position: relative;
    display: inline-flex;
    padding: 5px;
    border-radius: 2.5em;
    background-color: rgba(0, 0, 0, 0.1);
}

.wrap .dark_mode label {
    cursor: pointer;
}

.wrap .dark_mode label:first-of-type {
    padding: 5px 5px 5px 10px;
    border-radius: 50% 0 0 50%;
}

.wrap .dark_mode label:last-of-type {
    padding: 5px 10px 5px 5px;
    border-radius: 0 50% 50% 0;
}

.wrap .dark_mode i {
    font-size: 1.5em;
    color: #aaa;
    position: relative;
    z-index: 1;
}

.wrap .dark_mode input[type=radio] {
    display: none;
}

.wrap .dark_mode input[type=radio]:checked + label > i {
    color: #fff;
    transition: all 0.35s ease-in-out;
}

.wrap .dark_mode .dark_mode-bg {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 5px;
    border-radius: 50px 15px 15px 50px;
    z-index: 0;
    transition: all 0.35s ease-in-out;
    background-color: #47BBEC;
}

.wrap .dark_mode #toggle-radio-dark:checked ~ .dark_mode-bg {
    border-radius: 15px 50px 50px 15px;
    top: 5px;
    left: 44px;
}