html, body{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Jura', sans-serif;  /*Jura 폰트 피그마와 동일하게 적용하였음 */
   font-weight: 700;
   justify-content: center;
   align-items: center;
   height:100%
   margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    padding: 30px 0;
}

main {
    flex-grow: 1;
    padding: 20px 0 50px;
    display: flex;
    flex-wrap: wrap;
    height: 200vh;
    justify-content: space-between;
}

footer {
    position: relative;
    height: 150px;
    margin-top: 20px;
}

/*-------------------- 로고 , 검색폼  start ------------------*/
.wrap {
    position: absolute;
    margin-top: 5%;
    right: 25%;
}

.Main_TOP {
    padding-top: 30px;
    padding-bottom: 10px;
}
.Main_TOP .Main_logo {
    width: 70%;
    margin-left: 25%;
    margin-right: auto;
}
.search-box {
    border: 2px solid #47BBEC;
    border-radius: 25px;
    margin-left: 30px;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.search-txt {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    border-radius: 25px;
    color: #000;
    margin-left: 15px;
}

.search-btn {
    background: #fff;
    color: #47BBEC;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.fa-magnifying-glass {
    font-size: 20px;
    margin-right: 10px;
}
.search-box-inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
/*---------------------- 로고 , 검색폼 end ---------------------- */
/*---------------------- mbit 리스트 메뉴 css start ----------------------*/
.back.color-10 {
    width: 100%;
    margin-top: 50px;
}

.menu li {
    list-style: none;
    display: inline-block;
}
.menu a {
    font-size: 17pt;
    font-weight: 400;
    width: 95px;
    padding: 15px 25px;
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

*, *:after, *:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover, a:focus {
    outline: none;
}

.link a {
    color: #000;
    transition: 0.35s;
}

.link a:hover {
    color:#47BBEC;
    transition: 0.35s;
}

.link a:before, .link a:after {
    content: "";
    width: 100%;
    border-bottom: 4px solid  #47BBEC;
    position: absolute;
    bottom: auto;
    top: 100%;
    left: 0;
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: right center 0;
}

.link a:after {
    opacity: 0;
    transform: scale(0, 1);
    transform-origin: left center 0;
}

.link a:hover:before {
    opacity: 0;
    transform: scale(0, 1);
    transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;
}

.link a:hover:after {
    opacity: 1;
    transform: scale(1, 1);
    transition: transform 0.2s ease-in-out 0.25s;
}
/*---------------------- mbit 리스트 메뉴 css end ----------------------*/

/*---------------------- left 섹션 ---------------------- start */
div.right-container {
    width: 30%;
    margin-top: 20px;
}
div.left-container {
    flex-grow: 1;
    margin-top: 20px;
}
.left-container > .hot_topic {
    height: 500px;
    align-items:center;
}

.left-container > .mm {
    margin-top: 15px;
    display:flex;
}

.mm > .movie {
     width:50%;
     height:auto;
     float : left;
     text-align: center;
     box-sizing: border-box;
}
.mm > .music {
    width:50%;
    height:auto;
    float: right;
    text-align : center;
    box-sizing: border-box;
}
/*---------------------- left 섹션 end ----------------------*/
/*----------------------right 섹션 start ----------------------*/


/* ------------------- 로그인 start-------------------*/
.login-container {
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login {
    margin-bottom: 20px;
    width: 90%;
}

.login_button {
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
    background-color: #47BBEC;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    border-radius: 17px;
    transition: background-color 0.3s ease;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links a {
    text-decoration: none;
    font-size: 10px;
    color: #969696;
}

.links a:hover {
    color: #47BBEC;
}
/* ------------------- 로그인 end-------------------*/
/* ------------------- 로그아웃 start-------------------*/
.logout-container {
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.logout {
    margin-bottom: 20px;
    width: 90%;
}

.logout_button {
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
    background-color: #47BBEC;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    border-radius: 17px;
    transition: background-color 0.3s ease;
}


.fa-lock, .fa-right-from-bracket,
.fa-keyboard, .fa-user {
    font-size: 20px;
}

/* ------------------- 로그아웃 end-------------------*/

.mbti_link {
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.mbti_link p {
    text-decoration: none;
    font-size: 12px;
    color: #969696;
    padding-top:5px;
    padding-left:5px;
}
.mbti_link a {
    height: 100%;
    line-height: 100%;
}
.mbti_link a img {
    width: 80%;
    height: 100%
}
.right_sticky {
     position: -webkit-sticky;
     position: sticky;
     top: 0;
}

.chat {
    border: 2px solid #47BBEC;
    border-radius: 10px;
    height: 400px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    top: 200px;
}
.logout_chat {
    width:100%;
    height: 80%;
    text-align:center;
}
.close_chat{
    padding: 100px 100px 100px 100px;
    width: 100%;
    height: 100%;
}
.fa-circle-exclamation {
    font-size: 100px;
    color: red;
}
.chat-box {
    border: 2px solid #47BBEC;
    border-radius: 45px;
    overflow: hidden;
    width: 100%;
    height: 50px;
    margin-top: auto;
}

.chat-box-inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chat-txt {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    border-radius: 25px;
    color: #000;
    margin-left: 20px;
}

.chat-btn {
    background: #fff;
    color: #47BBEC;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    margin-right: 10px;
}

.fa-paper-plane {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}
/* ----------------------right 섹션 end---------------------- */
#chatroom  {
    width:100%;
    height:100%;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.chat_container {
    margin-top: 15px;
}
.chat_main {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-left: 2px solid #47BBEC;
    border-right: 2px solid #47BBEC;
    border-bottom: 2px solid #47BBEC;
    height: 365px;
}

.chat_col {
    background: #fff;
    color: #000;
}

.chat_div {
    width: 100%
    height: 20%;
}

.chat_my_bg {
    background: #fff;
    color: #000;
    padding-left: 10px;
}

.chat_you_bg {
    background: #fff;
    color: #000;
    padding-left: 10px;
}
.chat_container {
    width: 100%;
}
.chat_title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 2rem;
    /*text-align: center;*/
    border-left: 2px solid #47BBEC;
    border-right: 2px solid #47BBEC;
    border-top: 2px solid #47BBEC;
    padding-left: 10px;
}
.chat_textarea {
    width: 100%;
}
.chat_date {
    text-align: center;
}
.chat_time {
    color: #555;
    font-size: 12px;
    margin-top: 5px;
    width: 10%;
}

/* ----------------------인기 게시글 start---------------------- */
.article-table {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%
}

.article-list {
    margin-right: 20px;
    margin-top: 10px;
    border: none;
    width: 100%;
}

.article-list-body {
    text-align: center;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
    align-items: center;
    height: 35px;
}
.article-list-subject-head{
    vertical-align: middle;
        color: black;
        text-decoration: none;
        width: 10%;
        text-align: center;
}

.article-list-subject-body {
    vertical-align: middle;
    color: black;
    text-decoration: none;
    width: 10%;
    text-align: left;
}

.article-list-subject {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 95%;
}

.article-list-subject:hover {
    color: black;
    text-decoration: underline;
}

.article-comment {
    display: inline-block;
    vertical-align: middle;
    color: grey;
}

.article-list-author {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.article-list-author:hover {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.article-list-th {
    width: 4%;
}

.information-btn {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: right;
    height: 30px;
}

.back-btn {
    justify-content:right;
    color: rgba(128, 128, 128, 0.4);
    font-size: 15px;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid rgba(128, 128, 128, 0.4);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.create-btn {
    font-size: 15px;
    color: #47BBEC;
    padding: 3px 3px 3px 3px;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #47BBEC;
    border-radius: 10px;
}

.form-create-btn {
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

/* ----------------------인기 게시글 end---------------------- */

.hideForm {
    display: none;
}

.article-author {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.article-author:hover {
  color: #47BBEC;
  font-weight: bold;
  text-decoration: none;
}