
.m_container {
  display: block;
  max-width: 680px;
  width: 80%;
  margin: 120px auto;
}

h1 {
  color: #47BBEC;
  font-size: 48px;
  letter-spacing: -3px;
  text-align: center;
  margin: 20px 0 80px 0;
  transition: .2s linear;
}

.m_links {
  display: flex;
  justify-content : space-between;
      margin-right: 23px;
}

.m_links li {
  display: inline-block;
  margin: 0 10px 0 0;
  transition: .2s linear;
}

.m_links li a {
  opacity: .6;
  float: right;
}

.m_links li a:hover {
  opacity: 1;
}

.m_links li a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

p {
  color: #0f132a;
  font-weight: bolder;
}
.title__p {
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       padding-inline-start: 40px;
}
.form-select {
    margin-left: -6px;
    margin-bottom: -12px;
    width: 96%;
}



.m_form {
  width: 100%;
  max-width: 680px;
}


.form-error {
    margin-top: 5;
    margin-left: 40px;
    width: 100%;
    font-size: 14px;
    color: red;
}

.input__block {
  margin: 20px auto;
  display: block;
  position: relative;
}

.input__block input {
  display: block;
  width: 90%;
  max-width: 680px;
  height: 50px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  background: rgba(15, 19, 42, 0.1);
  color: rgba(15, 19, 42, 0.3);
  padding: 0 0 0 15px;
  font-size: 14px;
  &:focus,
  &:active {
    outline: none;
    border: none;
    color: rgba(15, 19, 42, 1);
  }
  &.repeat__password {
    opacity: 0;
    display: none;
    transition: .2s linear;
  }
}
.show_info_block {
    display: block;
      width: 90%;
      max-width: 680px;
      height: 50px;
      margin: 0 auto;
      border-radius: 8px;
      border: 2px solid black;
      color: rgba(15, 19, 42, 0.85);
      padding: 6 0 0 15px;
      font-size: 20px;
}

.signin__btn {
  background: #47BBEC;
  color: white;
  display: block;
  width: 91%;
  max-width: 680px;
  height: 50px;
  border-radius: 8px;
  margin-left: 32px;
  border: none;
  cursor: pointer;
  font-size: 14px;
 /* box-shadow: 0 5px 30px rgba(0, 255, 255, 1);*/
  transition: .2s linear;
 /* &:hover {
    box-shadow: 0 0 0 rgba(233, 30, 99, 0);
  }*/
}

.separator {
  display: block;
  margin: 30px auto 10px;
  text-align: center;
  height: 40px;
  position: relative;
  background: transparent;
  color: rgba(15, 19, 42, 0.4);
  font-size: 13px;
  width: 90%;
  max-width: 680px;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 45%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 45%;
  }
}

.info_separator {
  display: block;
  margin: 30px auto 10px;
  text-align: center;
  height: 40px;
  position: relative;
  background: transparent;
  color: rgba(15, 19, 42, 0.4);
  font-size: 13px;
  width: 100%;
  max-width: 680px;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 40%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 40%;
  }
}

.mbit__btn,
.kakao__btn,
.naver__btn,
.google__btn {
  display: block;
  width: 91%;
  max-width: 680px;
  margin: 32px;
  height: 50px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  line-height: 40px;
}
.mbti__btn {
  background: #00C9AD;
  color: #000000;
  transition: .2s linear;
  .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
  }
}

.kakao__btn {
  background: #FEE500;
  color: #000000;
  transition: .2s linear;
  .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
  }
}
.naver__btn {
  background: #03C75A;
  color: #000000;
  transition: .2s linear;
  .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
  }
}
.google__btn {
  background: #5b90f0;
  color: #000000;
  transition: .2s linear;
  .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
  }
}
a {
    color: #000000;
}

