<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/darkmode.css}" rel="stylesheet">
    <!-- 다른 필요한 메타 정보 및 스타일시트, 스크립트 등을 추가할 수 있습니다. -->
    <title>MBTI 게시판</title>
</head>

<body>
<div layout:fragment="content" class="container my-3">
    <table style="table-layout:fixed; word-wrap:break-word;clear:both;" >
        <tbody>
        <tr>
            <td>
                <div class="card" style="width: 1200px;">
                    <div class="card-header">
                        <div class="fw-normal">
                            <span th:text="${article.author.membername}"></span>
                        </div>
                        <div class="fw-normal">
                            <span th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                        <div class="fw-normal">조회:  추천:</div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${article.subject}"></h5>
                        <p class="card-text" th:text="${article.content}"></p>
                        <a th:href="@{|/article/${article.id}/like|}" class="btn btn-sm btn-outline-secondary">추천
                            <span class="badge rounded-pill bg-success" th:text="${#lists.size(article.likers)}"></span>
                        </a>
                        <a th:href="@{|/article/${article.id}/modify|}"
                           class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                           th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.membername}"
                           th:text="수정"></a>
                        <a th:href="@{|/article/${article.id}/delete|}"
                           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                           th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.membername}"
                           th:text="삭제"></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>