<html lang="ko" layout:decorate="~{layout}">
<body>
<main>
    <div layout:fragment="content" class="container my-3" style="width: 1000px;">
        <div class="col-6">
            <div class="TOP">
                <div class="logo">
                    <a class="article-logo" th:href="@{|/mbti/${article.mbti.id}|}" th:text="|${article.mbti.name} 게시판|"></a>
                </div>
            </div>
        </div>
        <table style="table-layout:fixed; word-wrap:break-word;clear:both;" >
            <tbody>
            <tr>
                <td>
                    <div class="article-detail" style="width: 1000px;">
                        <div class="card-header" style="width: 1000px;">
                            <div class="article-subject">
                                <span th:text="${article.subject}"></span>
                            </div>
                            <div class="article-information">
                                <div class="article-author-date">
                                    <a class="article-author" href="#" th:text="|${article.author.membername}[${article.author.mbti.name}]|"></a>
                                    <span class="article-between-line" th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                                </div>
                                <div class="article-like">
                                    <span th:text="|조회 : ${article.viewCount}|"></span>
                                    <span class="article-between-line" th:text="|추천 : ${#lists.size(article.likers)}|"></span>
                                    <span class="article-between-line" th:text="|댓글 : |"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text"  th:utext="${@commonUtil.markdown(article.content)}"></p>
                            <a th:href="@{|/article/${article.id}/like|}" class="btn btn-sm btn-outline-secondary">추천
                                <span class="badge rounded-pill bg-success" th:text="${#lists.size(article.likers)}"></span>
                            </a>
                            <a th:href="@{|/article/${article.id}/modify|}"
                               class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                               th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.membername}"
                               th:text="수정"></a>
                            <a th:href="@{|/article/${article.id}/delete|}"
                               class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                               th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.membername}"
                               th:text="삭제"></a>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">신고</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- 최상위 댓글 추가 폼 -->
        <form th:action="@{|/comment/create/${article.id}|}" th:object="${commentForm}" method="post">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
            </div>
            <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="3"></textarea>
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="3"></textarea>
            <button type="submit" class="btn btn-primary">댓글 등록</button>
        </form>

        <!-- 수정된 코드 -->
        <h2 th:text="|${#lists.size(article.commentList)}개의 댓글이 있습니다.|"></h2>
        <div>
            <ul>
                <li th:if="${comment.parent == null}" th:each="comment : ${article.commentList}">
                    <div class="my-3">
                        <p th:text="${comment.content}"></p>
                        <a th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.membername}"
                           th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()" th:text="수정">
                        </a>
                        <a th:if="${comment.author != null and  #authentication.getPrincipal().getUsername() == comment.author.membername}"
                           th:href="@{|/comment/delete/${comment.id}|}" class="delete btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()" th:text="삭제">
                        </a>
                        <a th:href="@{|/comment/like/${comment.id}|}" class="btn btn-sm btn-outline-secondary" th:if="${not comment.likedByCurrentUser}">
                            좋아요
                            <span class="badge rounded-pill bg-success" th:text="${#lists.size(comment.likers)}"></span>
                        </a>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">신고</button>


                        <span th:if="${comment.likedByCurrentUser}">
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(comment.likers)}"></span>
                        이미 좋아요 표시
                    </span>

                    </div>
                    <form th:action="@{|/comment/create/${article.id}|}" method="post">
                    <textarea sec:authorize="isAnonymous()" disabled name="content" class="form-control"
                              rows="3"></textarea>
                        <textarea sec:authorize="isAuthenticated()" name="content" class="form-control" rows="3"></textarea>
                        <input type="hidden" name="parentCommentId" th:value="${comment.id}">
                        <button type="submit" class="btn btn-primary">대댓글 등록</button>
                    </form>
                    <ul>
                        <li th:each="childrenComment : ${comment.childrenCommentList}">
                            <div class="my-3">
                                <p th:text="${childrenComment.content}"></p>
                                <a th:if="${childrenComment.author != null and #authentication.getPrincipal().getUsername() == childrenComment.author.membername}"
                                   th:href="@{|/comment/modify/${childrenComment.id}|}" class="btn btn-sm btn-outline-secondary"
                                   sec:authorize="isAuthenticated()" th:text="수정">
                                </a>
                                <a th:if="${childrenComment.author != null and  #authentication.getPrincipal().getUsername() == childrenComment.author.membername}"
                                   th:href="@{|/comment/delete/${childrenComment.id}|}"
                                   class="delete btn btn-sm btn-outline-secondary"
                                   sec:authorize="isAuthenticated()" th:text="삭제">
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 모달 부트스트랩 시작-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">신고내용</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{|/comment/report/${article.id}|}" method="post">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">내용</label>
                                <textarea class="form-control" name="reportContent" id="message-text"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">신고 보내기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 모달 부트스트랩 종료 -->
    </div>
</body>
</html>