<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <div class="col-6">
        <div>
            <div class="TOP" style="margin-left: 150px">
                <div class="logo">
                    <a class="article-logo" th:href="@{|/mbti/${mbti.id}|}" th:text="|${mbti.name} 게시판|"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="article-form-div">

        <form class="article-form" th:object="${articleForm}" method="post" enctype="multipart/form-data">
            <div class="form-create">
                게시글 작성
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>

            <div class="article-form-subject">
                <input class="input-subject" placeholder="제목을 입력하세요." type="text"
                       name="subject" id="subject" th:field="*{subject}" style="border-radius: 5px;">
            </div>
            <div class="article-form-content">
                <textarea class="textarea_ck_test" name="content" id="textarea_ck_test"
                          th:field="*{content}" style="border-radius: 5px;"></textarea>
            </div>
            <div class="article-form-img">
                <input type="file" name="articleImg"
                       accept="image/png, image/gif, image/jpeg" class="form-control">
            </div>

            <div class="form-create-btn">
                <a th:href="@{|/mbti/${mbti.id}|}" class="back-btn">취소</a>
                <button type="submit" class="create-btn">등록</button>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    ClassicEditor
                        .create(document.querySelector('#textarea_ck_test'))
                        .catch(error => {
                            console.error(error);
                        });
                });
            </script>

        </form>
    </div>
</div>
</html>