<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <div class="col-6">
        <div class="TOP">
            <div class="logo">
                <a class="article-logo" th:href="@{|/mbti/${article.mbti.id}|}" th:text="|${article.mbti.name} 게시판|"></a>
            </div>
        </div>
    </div>
    <table style="table-layout:fixed; word-wrap:break-word;clear:both;" >
        <tbody>
        <tr>
            <td>
                <div class="article-detail">
                    <div class="card-header">
                        <div class="article-subject">
                            <span th:text="${article.subject}"></span>
                        </div>
                        <div class="article-information">
                            <div class="article-author-date">
                                <a class="article-author" href="#" th:text="|${article.author.membername}[${article.author.mbti.name}]|"></a>
                                <span class="article-between-line" th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                            <div class="article-like">
                                <span th:text="|조회 : ${article.viewCount}|"></span>
                                <span class="article-between-line" th:text="|추천 : ${#lists.size(article.likers)}|"></span>
                                <span class="article-between-line" th:text="|댓글 : |"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <p class="card-text" th:text="${article.content}"></p>
                        <a th:href="@{|/article/${article.id}/like|}" class="btn btn-sm btn-outline-secondary">추천
                            <span class="badge rounded-pill bg-success" th:text="${#lists.size(article.likers)}"></span>
                        </a>
                        <a th:href="@{|/article/${article.id}/modify|}"
                           class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                           th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.membername}"
                           th:text="수정"></a>
                        <a th:href="@{|/article/${article.id}/delete|}"
                           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                           th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.membername}"
                           th:text="삭제"></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</html>