<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">

<body>
<div layout:fragment="content" class="article-container">
    <div class="col-6">
        <div class="TOP">
            <div class="logo">
                <a class="article-logo" th:text="|MBTI수정|"></a>
            </div>
        </div>
    </div>
    <div class="title__p">
        <select name="mbtiId" id="mbtiSelect" onchange="showForm()" class="form-select"
                aria-label="Default select example">
            <option value="0" style="text-center">== 선택 ==</option>
            <option th:each="mbti : ${mbtiList}" th:value="${mbti.name}" th:text="${mbti.name}"></option>
        </select>
    </div>
    <!-- 폼 -->
    <form id="mbtiForm" method="post" action="/mbti/information/" onsubmit="setFormAction()">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="genre-container">
            <div class="genre-section" style="margin-right: 10px;">
                <label for="relationship">성격</label>
                <textarea id="relationship" name="relationship" class="form-control"
                          style="resize: none; height: 280px; margin-top: 8px;"></textarea>
            </div>
            <div class="genre-section" style="margin-right: 20px;">
                <label for="love">연애</label>
                <textarea id="love" name="love" class="form-control"
                          style="resize: none; height: 280px; margin-top: 8px;"></textarea>
            </div>
            <div class="genre-section" style="margin-left: 10px;">
                <label for="celebrity">유명인</label>
                <textarea id="celebrity" name="celebrity" class="form-control"
                          style="resize: none; height: 280px; margin-top: 8px;"></textarea>
            </div>
            <div class="genre-section" style="margin-left: 20px;">
                <label for="job">직업</label>
                <textarea id="job" name="job" class="form-control"
                          style="resize: none; height: 280px; margin-top: 8px;"></textarea>
            </div>
        </div>
        <div class="genre-container">
            <div class="genre-section" style="height: 180px;">
                <p>영화</p>
                <div class="scrollable-container" style="height: 110px">
                    <div class="form-check" th:each="movie : ${movieList}">
                        <input class="form-check-input" name="movieId" type="checkbox" th:value="${movie.id}"
                               th:id="'genre-' + ${movie.id}">
                        <label class="form-check-label" th:for="'genre-' + ${movie.id}"
                               th:text="${movie.genre}"></label>
                    </div>
                </div>
            </div>

            <div class="genre-section" style="height: 180px;">
                <p>음악</p>
                <div class="scrollable-container" style="height: 110px">
                    <div class="form-check" th:each="music : ${musicList}">
                        <input class="form-check-input" name="musicId" type="checkbox" th:value="${music.id}"
                               th:id="'genre-' + ${music.id}">
                        <label class="form-check-label" th:for="'genre-' + ${music.id}"
                               th:text="${music.genre}"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-create-btn">
            <a href="/" class="back-btn">취소</a>
            <button type="submit" class="create-btn">저장</button>
        </div>
    </form>

    <script>
        function showForm() {
            var selectedMbtiName = document.getElementById("mbtiSelect").value;

            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/api/mbti/" + selectedMbtiName, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var selectedMbti = JSON.parse(xhr.responseText);

                    // 선택한 MBTI에 해당하는 정보를 폼에 설정
                    document.getElementById("love").value = selectedMbti.love;
                    document.getElementById("relationship").value = selectedMbti.relationship;
                    document.getElementById("celebrity").value = selectedMbti.celebrity;
                    document.getElementById("job").value = selectedMbti.job;

                    selectedMbtiId = selectedMbti.id;
                }
            };
            xhr.send();
        }

        function setFormAction() {
        // 폼 제출 시에 선택한 MBTI 정보를 서버로 전송하도록 설정
        document.getElementById("mbtiForm").action = "/mbti/information/" + selectedMbtiId;
        }
    </script>

</div>
</body>
</html>