<html layout:decorate="~{layout}">
<div layout:fragment="content">

<div class="m_container">

    <h1>로그인</h1>
    <ul class="m_links">
        <li style="display: flex; align-items: center;">
            <a th:href="@{/member/signup}"> <i class="fa fa-user-plus"></i>회원가입</a>
        </li>
        <li>
            <a th:href="@{/member/tempPassword}" id="tempPassword">아이디/비밀번호 찾기</a>
        </li>
    </ul>

    <form class="m_form" th:action="@{/member/login}" method="post">
        <div th:if="${param.error}">
            <div class="form-error">
                일치하는 ID 또는 비밀번호가 없습니다.
            </div>
        </div>
        <div class="first-input input__block first-input__block">
            <input type="text" name="username" id="username" class="form-control"  placeholder="아이디">
        </div>
        <div class="input__block">
            <input type="password" name="password" id="password" class="form-control"  placeholder="비밀번호">
        </div>
        <button class="signin__btn">
            로그인
        </button>
    </form>
    <div class="separator">
        <p>OR</p>
    </div>
    <button class="kakao__btn">
        <i class="fa fa-comment"></i>
        <a href="/oauth2/authorization/kakao" style="text-decoration-line: none">카카오 로그인</a>
    </button>
</div>
</div>
</html>
