<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 추가적인 CSS 파일 -->
    <link th:href="@{/css/darkmode.css}" rel="stylesheet">
    <title>MBTI 게시판</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h4>개인 정보 수정</h4>
    <form th:action="@{/member/modify}" th:object="${memberSignupForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="membername" class="form-label">사용자ID</label>
            <input disabled type="text" th:value="${member.membername}" name="membername" class="form-control">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" th:value="${member.nickname}" name="nickname" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:value="${member.email}" name="email"text="${member.email}" class="form-control">
        </div>
        MBTI
        <select name="mbtiId" id="mbtiId" class="form-select" aria-label="Default select example">
            <option th:value="${member.mbti.id}" th:text="${member.mbti.name}"></option>
            <option th:each="mbti : ${mbtiList}" th:value="${mbti.id}" th:text="${mbti.name}"></option>
        </select>
        <br>
        <div class="mb-3">
            <label for="password" class="form-label">현재 비밀번호</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">변경할 비밀번호</label>
            <input type="password" name="password1" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">변경할 비밀번호 확인</label>
            <input type="password" name="password2" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">정보 수정하기</button>
    </form>
</div>
</body>
</html>
