<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- 추가적인 CSS 파일 -->
<link type="text/css" th:href="@{/css/member.css}" rel="stylesheet">
<!-- 폰트어썸 이미지 사용위한 kits -->
<script src="https://kit.fontawesome.com/26ee6f51e2.js" crossorigin="anonymous"></script>

<div class="container">
    <!-- Heading -->
    <h1>마이페이지</h1>
    <div class="title__p">
        <p>아이디</p>
    </div>
    <div class="show_info_block" th:text="${member.membername}"></div>
    <div class="title__p">
        <p>닉네임</p>
    </div>
    <div class="show_info_block" th:text="${member.nickname}"></div>
    <div class="title__p">
        <p>이메일</p>
    </div>
    <div class="show_info_block" th:text="${member.email}"></div>
    <div class="title__p">
        <p>MBTI</p>
        <!--            <select name="mbtiId" id="mbtiId" class="form-select" aria-label="Default select example">-->
        <!--                <option value="0">== 선택 ==</option>-->
        <!--                <option th:each="mbti : ${mbtiList}" th:value="${mbti.id}" th:text="${mbti.name}"></option>-->
        <!--            </select>-->
    </div>
    <div class="show_info_block" th:text="${member.mbti.name}"></div>
    <br>
    <a href="/">홈으로 이동하기</a>
</div>