<html layout:decorate="~{layout}">
<!-- 추가적인 CSS 파일 -->
<link th:href="@{/darkmode.css}" rel="stylesheet">
<link type="text/css" th:href="@{/css/base.css}" rel="stylesheet">
<!-- 추가적인 JS 파일 -->
<script type="text/javascript" src="/js/darkmode.js"></script>
<div layout:fragment="content" class="container my-3">
    <nav th:fragment="navbarFragment" class="custom-navbar">
        <nav class="container navbar navbar-expand-lg shadow-sm p-3 mb-5 bg-body-tertiary rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://i.ibb.co/0Fq1jtF/logo.jpg" alt="logo" width="200" height="50" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="search-nav">
                    <div class="search-nav-inner">
                        <input class="search-nav-txt" type="text" placeholder="검색어를 입력하세요.">
                        <button class="search-nav-btn" type="submit">
                            <i class="fa fa-search fa-magnifying-nav-glass"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-end">
                        <li class="nav-item">
                            <div class="wrap">
                                <div class="dark_mode">
                                    <div class="inner">
                                        <input type="radio" name="toggle" id="toggle_light" checked>
                                        <label for="toggle_light" class="light_icon"><i
                                                class="fas fa-sun light_icon"></i></label>
                                        <input type="radio" name="toggle" id="toggle_dark">
                                        <label for="toggle_dark" class="dark_icon"><i class="fas fa-moon dark_icon"></i></label>
                                        <div class="dark_mode-bg"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/member/login}"
                               sec:authorize="isAnonymous()">로그인</a>
                            <a class="nav-link" th:href="@{/member/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" sec:authorize="isAuthenticated()" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                정보
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">내가 쓴글 </a></li>
                                <li><a class="dropdown-item" href="#">내가 쓴 댓글</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/member/modify">나의정보 / 수정</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/signup}">회원가입</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </nav>
</div>
</html>