<html lang="ko" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 추가적인 CSS 파일 -->
    <link th:href="@{/css/darkmode.css}" rel="stylesheet">
    <title>MBTI 게시판</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h4>비밀 번호 확인</h4>
    <form th:action="@{/member/passwordConfirm"  method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호 입력</label>
            <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">확인</button>
    </form>

</div>
</body>
</html>