<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<div class="container my-3">
    <h2>신고된 게시글 및 댓글 목록</h2>
    <div class="row align-items-start">
        <!-- 신고된 게시글 목록 -->
        <div class="col">
            <h3>신고된 게시글 목록</h3>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>신고자</th>
<!--                    <th>게시물 ID</th>-->
                    <th>신고 내용</th>
                    <th>신고 유형</th>
                    <th>작성일시</th>
                </tr>
                </thead>
                <tbody>
                <!-- 게시글 신고 목록 추가 -->
                <tr th:each="reportArticle, loop : ${reportArticleList}">
                    <td th:text="${loop.count}"></td>
                    <td th:text="${reportArticle.author.membername}"></td>
<!--                    <td th:text="${reportArticle.article}"></td>-->
                    <td th:text="${reportArticle.content}"></td>
                    <td th:text="${reportArticle.reportType}"></td>
                    <td th:text="${#temporals.format(reportArticle.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 신고된 댓글 목록 -->
        <div class="col">
            <h3>신고된 댓글 목록</h3>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>번호</th>
<!--                    <th>신고자</th>-->
<!--                    <th>댓글 ID</th>-->
                    <th>신고 내용</th>
                    <th>신고 유형</th>
                    <th>작성일시</th>
                </tr>
                </thead>
                <tbody>
                <!-- 댓글 신고 목록 추가 -->
                <tr th:each="reportComment, loop : ${reportCommentList}">
                    <td th:text="${loop.count}"></td>
<!--                  <td th:text="${reportComment.author.membername}"></td>-->
<!--                    <td th:text="${reportComment.comment}"></td>-->
                    <td th:text="${reportComment.content}"></td>
                    <td th:text="${reportComment.reportType}"></td>
                    <td th:text="${#temporals.format(reportComment.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
<div layout:fragment="content" class="container my-3" style="margin:0px; max-width:100%;">
    <div class="container my-3">
        <br>
        <br>
        <div class="row align-items-start">
            <!-- 신고된 게시글 목록 -->
            <div class="col">
                <h3>신고된 게시글 목록</h3>
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th style="text-align: center;">게시글번호</th>
                        <th style="text-align: center;">게시글내용</th>
                        <th style="text-align: center;">신고자</th>
                        <th style="text-align: center;">신고 내용</th>
                        <th style="text-align: center;">신고 유형</th>
                        <th style="text-align: center;">바로가기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 게시글 신고 목록 추가 -->
                    <tr th:each="reportArticle, loop : ${reportArticleList}">
                        <td style="display: flex;justify-content: center;" th:text="${reportArticle.article.id}"></td>
                        <td th:text="${#strings.replace(reportArticle.article.content, '<p>', '')}"
                            th:utext="${#strings.replace(#strings.replace(reportArticle.article.content, '<p>', ''), '</p>', '')}"></td>
                        <td style="display: flex;justify-content: center;"
                            th:text="${reportArticle.author.membername}"></td>
                        <td th:text="${reportArticle.content}"></td>
                        <td style="display: flex;justify-content: center;" th:text="${reportArticle.reportType}"></td>
                        <td>
                            <a style="display: flex;justify-content: center;"
                               th:href="@{|/article/${reportArticle.article.id}|}">링크</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 신고된 댓글 목록 -->
            <div class="col">
                <h3>신고된 댓글 목록</h3>
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th style="text-align: center;">댓글번호</th>
                        <th style="text-align: center;">댓글내용</th>
                        <th style="text-align: center;">신고자</th>
                        <th style="text-align: center;">신고 내용</th>
                        <th style="text-align: center;">신고 유형</th>
                        <th style="text-align: center;">바로가기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 댓글 신고 목록 추가 -->
                    <tr th:each="reportComment, loop : ${reportCommentList}">
                        <td style="display: flex;justify-content: center;" th:text="${reportComment.comment.id}"></td>
                        <td th:text="${#strings.replace(reportComment.comment.content, '<p>', '')}"
                            th:utext="${#strings.replace(#strings.replace(reportComment.comment.content, '<p>', ''), '</p>', '')}"></td>
                        <td style="display: flex;justify-content: center;"
                            th:text="${reportComment.author.membername}"></td>
                        <td th:text="${reportComment.content}"></td>
                        <td style="display: flex;justify-content: center;" th:text="${reportComment.reportType}"></td>
                        <td>
                            <a style="display: flex;justify-content: center;"
                               th:href="@{|/article/${reportComment.comment.article.id}|}">링크</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>
