<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h4>회원가입</h4>
    <form th:action="@{/member/signup}" th:object="${memberSignupForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="membername" class="form-label">사용자ID</label>
            <input type="text" name="membername" th:field="*{membername}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" name="password1" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" name="password2" th:field="*{password2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" name="nickname" th:field="*{nickname}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" name="email" th:field="*{email}" class="form-control">
        </div>
        MBTI
        <select name="mbtiId" id="mbtiId" class="form-select" aria-label="Default select example">
            <option value="0">== 선택 ==</option>
            <option th:each="mbti : ${mbtiList}" th:value="${mbti.id}" th:text="${mbti.name}"></option>
        </select>

        <br>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>